# Copy this to Streamlit Cloud → App Settings → Secrets
# Do NOT commit the real secrets.toml

SNOWFLAKE_ACCOUNT = "GXGFLCB-KKB54773"
SNOWFLAKE_USER = "PARACOSMGRACEE"
SNOWFLAKE_PASSWORD = "your_password"
SNOWFLAKE_DATABASE = "JOB_MARKET"
SNOWFLAKE_WAREHOUSE = "COMPUTE_WH"
SNOWFLAKE_ROLE = "ACCOUNTADMIN"
SNOWFLAKE_SCHEMA = "RAW"
ANTHROPIC_API_KEY = "your_key"
